{% extends 'base.html.twig' %}
{% block title %}Cars {% endblock %}
{% block stylesheets %}
    <link href = "{{ asset('styles/cards.css') }}" rel = "stylesheet">
{% endblock %}
{% block body %}
    <div class="container mt-5 main-content">
        <h1>Car Listings for {{ mark }}</h1>
        <div class="row">
            {% for car in cars_sorted %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        {% if car.imageUrl %}
                            <img src="{{ asset(car.imageUrl) }}" class="card-img-top" alt="{{ car.mark }} {{ car.model }}">
                        {% else %}
                            <img src="default-image-path.jpg" class="card-img-top" alt="No image available">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ car.mark }} {{ car.model }}</h5>
                            <p class="card-text">{{ car.year }} - {{ car.mileage}} km </p>
                            <p class="card-text">{{ car.description|length > 100 ? car.description|slice(0, 100) ~ '...' : car.description }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="{{ path('render_car',{'id':car.id}) }}" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}